<div class="modal fade" id="imgModal" tabindex="-1" 
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="z-index: 2001; z-index: 2001px;"
>
  <div class="modal-dialog">
    <div class="modal-content" style="z-index: 2002; z-index: 2002px;">
      <div class="modal-body">
        <img src="" class="imgModalPreview" style="width: 100%;">

        <p class="mt-3 text-center">
          <button type="button" class="btn btn-lg btn-danger btnCloseImagePopup" data-dismiss="modal">
            <h3>Tutup</h3>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  let runScriptModal2 = function () {
      $(document).on('click','.imagePopup', function(e) {
          e.preventDefault();
          let imgSrc = $(this).attr('src');
          if(!imgSrc) {
            imgSrc = $(this).attr('href');
          }
          if(!imgSrc) return;

          $('.imgModalPreview').attr('src', imgSrc);
          $('#imgModal').modal('show');   
      });     
      $(document).on('click','.btnCloseImagePopup', function(e) {
          $('#imgModal').modal('hide');
      });     
  };

  function runScriptModal() {
    // Script that does something and depends on jQuery being there.
    // if( window.$ ) {
    if( typeof jQuery !== 'undefined' ) {
            window.$ = jQuery;
            runScriptModal2();
    } else {
          window.setTimeout( runScript, 100 );
      }
  }
  runScriptModal();
</script>
