<div class="modal fade" id="modal-general" 
data-bs-backdrop="static" 
data-bs-keyboard="true" 
tabindex="-1" 
aria-labelledby="staticBackdropLabel" 
aria-hidden="true"
style="z-index: 1500" 
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title" id="label-form-sedekah">Sedekah</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
     </div>
    </div>
</div>
<script>
        function modalShow2(body, title, footer, header, autoclose, showCountDown) {
            var modalParam = {
                body: body,
                title: title,
                footer: footer,
                header: header,
                autoclose: autoclose,
                showCountDown: showCountDown,
            };
            return modalShow(modalParam); 
        }    

    /*
        param:
        body = str
        title = str
        footer = str
        header = str
        autoclose = seconds
        showCountDown = bool
    */
    function modalShow(param, callbackOnClose) {
        let body = '', 
        title = '', 
        footer = '', 
        header = '', 
        autoclose = false,
        showCountDown = true;
        
        if(typeof param === 'string') {
            body = param;
        } else {
            body = param.body;
            title = param.title; 
            footer = param.footer; 
            header = param.header; 
            autoclose = param.autoclose;
            showCountDown = param.showCountDown;

            if(typeof callbackOnClose === 'undefined') {
                callbackOnClose = param.callbackOnClose;
            }
        }
        let eModal = $("#modal-general");

        let eBody = eModal.find(".modal-body");
        if(body) eBody.html(body);

        let eTitle = eModal.find(".modal-title");
        if(title) eTitle.html(body);

        let eFooter = eModal.find(".modal-footer");
        if(footer) eFooter.html(body);

        let eHeader = eModal.find(".modal-header");
        if(header) eHeader.html(body);
        
        var modal = new bootstrap.Modal(document.getElementById('modal-general'), {
            keyboard: true
        });
        modal.show();

        if(autoclose) {
            i = autoclose;
            let tungguLoop = function() {
                if(showCountDown) {
                    eFooter.find('.labelCountDown').remove();
                    let label =`<label class="labelCountDown label small float-left">Auto Close in ${i}</label>`;
                    eFooter.prepend(label);
                }

                if(i == 0) {
                    modal.hide();
                } else {
                    i--; 
                    window.setTimeout( tungguLoop, 1000);  
                }
            }
            tungguLoop();
        }

        eModal.on('hidden.bs.modal', function (e) {
            if(typeof callbackOnClose === 'function') {
                   callbackOnClose();
            }
        })

        return modal;
    }

    function modalHide () {
        let modal = new bootstrap.Modal(document.getElementById('modal-general'), {
            keyboard: true
        });
        modal.hide();
    }
</script>